* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    
}

:root{
    --background-light-red: #FBDAD5;
     --dark-red: #7A433E/*#C74231*/; 
    --red: #F7533E;
    --maroon: #78281E;
    --dark-burgundy: #784842;
    --white: #ffffff;
    --black: #000000;

}

body{
    background-color: #F0ECDD;
}

/* HEADER MOBILE */
.logo-container{
    display: flex;
    /* flex-direction: column; */
    margin: 10px;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}



nav{
     background-color: white/*#1686CC#ffa700*/;  
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.close{
    display: none;
}
.contenedor-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.contenedor-menu{
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
}
#navbar-header:target .contenedor-menu{
    height: 90px;
}
#navbar-header:target .open{
    display: none;
}
#navbar-header:target .close{
    display: flex;
}
.close{
    margin-top: 5px;
    display: none;
}

@media (min-width: 1200px) {
    
    .contenedor-menu{
        display: flex;
        align-items: center;
    }
    .navbar-menu-mobile img{
        overflow: hidden;
    }
    .contenedor-menu li{
        padding: 10px;
    }
    #navbar-header:target .contenedor-menu{
        height: auto;
        
    }
    #navbar-header:target .open{
        display: none;
    }
    #navbar-header:target .close{
        display: none;
    }
    .close{
        display: none;
    }
}

/* HERO */
.banner-container img{
  max-width: 100%;
}


/* NEW IN SECTION */
.section-newIn h2{
    text-align: center;
    margin: 10px;
}
.section-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    margin: 15px;
}
.newIn-card{
     background-color: white/*69D2FF#12ADB3#7609B3*/; 
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
    
}
.newIn-card a{
    color: black;
    padding: 4px;
}
.newIn-card img{
    width: 40%;
}
.newIn-button{
    background-color: #EB9300;
    border-radius: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px ) {
    .section-cards{
        display: flex;
    }
}

/* DELIVERY SECTION */
.delivery{
    /* background-color: #19FF88; */
}
.delivery-fragment{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
}
.delivery-fragment img{
    padding: 15px;
}
.delivery-fragment p{
    padding: 20px 0 5px 0;
}

/* FOOTER */
.footer-menu{
    background-color: #EB9300;
}
.footer-menu ul{
    display: flex;
    justify-content: center;
}
.footer-menu li{
    padding: 10px; 
}
.social-fragment{
    display: flex;
    justify-content: center;
}
.social-fragment img{
    padding: 10px 35px;
}
.social-fragment a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MANGA PAGE */
/*FILTER*/


input[type="radio"][id="shounen"]:checked + label {
    background-color: #ff4466;
}
input[type="radio"][id="shounen"]:checked ~ .seinen {
    display: none;
}

input[type="radio"][id="seinen"]:checked + label {
    background-color: blue;
}
input[type="radio"][id="seinen"]:checked ~ .shounen {
    display: none;
}

/* input[type="radio"][id="all"]:checked + label {
    background-color: green;
    
}  
input[type="radio"][id="all"]:checked ~ .shounen {
    display: none;
*/

.search-box{
    display: flex;
    justify-content: center;
    
}
.search-box input{
    height: 40px;
    border-radius: 25px;
    border: 2px solid black;
}
.search-box button{
    border-radius: 50px;
    border: 2px solid black;
}

.manga-container h3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}
.filter-tab input, label{
    padding-right: 25px;
    margin-bottom: 25px;
}
.filter-tab input:first-child{
    margin-left: 25%;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.card img{
    width: 80%;
    border-radius: 30px;
    border: 2px solid #EB9300;
}


/*CONTACT PAGE*/

.form-container{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 25px;
}

.contact.main, h1{
    text-align: center;
    margin: 20px;

}

.form-item{
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px;
}
.form-item label{
    margin-bottom: 5px;
    text-transform: uppercase;
}

.form-item input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #EB9300;
    background-color: #EB9300;
    color: #000000;
    text-transform: uppercase;
}
.form-item #box{
    height: 100px;
}

.contact-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 20%;
    margin-top: 20px;
    align-items: flex-start;
}

.contact{
    padding: 10px;
    display: flex;
    align-items: center;
}



/* #sent-message{
    display: none;
}
#sent-message:target{
    display: block;
} */


/*SHOP PAGE*/