* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shippori Antique', sans-serif;
    text-decoration: none;
    list-style-type: none;
    
}

:root{
    --background-light-red: #fbe4d5;
     --dark-red: #7A433E; 
    --red: #F7533E;
    --maroon: #78281E;
    --dark-burgundy: #784842;
    --white: #ffffff;
    --black: #000000;

}

h1, h2, h3{
    text-transform: uppercase;
}

body{
    background-color: #ffffff;
}

/* HEADER MOBILE */
.logo-container{
    display: flex;
    margin: 10px;
    align-items: center;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}

a{
    color: #000000;
}


nav{
     background-color: #fff06a;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.close{
    display: none;
}
.contenedor-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.contenedor-menu{
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
}
.contenedor-menu li{
    padding: 3px;
}
#navbar-header:target .contenedor-menu{
    height: 180px;
}
#navbar-header:target .open{
    display: none;
}
#navbar-header:target .close{
    display: flex;
}
.close{
    margin-top: 5px;
    display: none;
}

@media (min-width: 1200px) {
    
    .contenedor-menu{
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 25px;
    }

    .open{
        display: none;
    }
    .contenedor-menu li{
        padding: 10px;
    }

    #navbar-header:target .open{
        display: none;
    }
    #navbar-header:target .close{
        display: none;
    }
    .close{
        display: none;
    }
}

/* HERO */
.banner-container img{
  max-width: 100%;
}


/* NEW IN SECTION */
.section-newIn h2{
    text-align: center;
    margin: 40px;
}
.section-cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 15px;
}
.newIn-card{
     background-color: white;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 70%;
    
}
.newIn-text p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.newIn-card a{
    color: black;
    padding: 4px;
}
.newIn-card img{
    width: 70%;
    border-radius: 20px;
    height: 70%;
    transition: transform .2s;
}

.newIn-card img:hover{
    transform: scale(1.5);
}

.newIn-button{
    background-color: #ff9f5c;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .section-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        margin: 15px;}
}

@media (min-width: 1200px ) {
    .section-cards{
        display: flex;
    }
}

/* DELIVERY SECTION */
.delivery-fragment{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
}
.delivery-fragment img{
    padding: 15px;
}
.delivery-fragment p{
    padding: 20px 0 5px 0;
}

/*ABOUT US*/
.about-us-section h3{
    text-align: center;
    margin: 30px;
    ;
}
.about-us-paragraph p{
    padding: 10px 30px;
    line-height: 25px;
    text-align: justify;
}
.about-us-img{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.about-us-img img{
    border-radius: 30px;
}

@media (min-width: 1200px) {
    #about-us{
        display: flex;
        margin: 10px 20px;
    }
    .about-us-paragraph p{
        padding: 10px 30px;
    }
}

/* FOOTER */
.footer-menu{
    background-color: #fff06a;
    padding-bottom: 20px;
}
.footer-menu ul{
    display: flex;
    justify-content: center;
}
.footer-menu li{
    padding: 10px; 
    margin: 20px 0;
}
.social-fragment{
    display: flex;
    justify-content: center;
}
.social-fragment img{
    padding: 10px 35px;
}
.social-fragment a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MANGA PAGE */

.banner-mangas{
    display: flex;
    justify-content: center;
}
.banner-mangas img{
    width: 95%;
    border-radius: 30px;
    margin-bottom: 20px;
}

.search-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    
}
.search-box input{
    height: 40px;
    border-radius: 25px;
    border: 2px solid #fff894;
    padding-left: 10px;
    background-color: #fff894;
}
.search-box a{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #fff894;
    margin-left: 10px;
    background-color: #fff894;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-container h2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: center;
    margin: 25px; 
    
    border-radius: 25px;
    padding: 15px 0;
    text-align: center;
}

.card img{
    width: 60%;
    border-radius: 30px;
}

.card p{
    padding: 5px;
}

.manga-button{
    margin-top: 5px;
    background: #ffa769;
    padding: 10px;
    width: 30%;
    border-radius: 30px;
}

@media (min-width: 800px) {
    .card-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card img{
        width: 50%;
        border-radius: 30px;
    }
    .banner-mangas img{
        width: 70%;
    }
}

@media (min-width: 1200px){
      .card-main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
        .card img{
            width: 50%;
            border-radius: 30px;
        }
        .banner-mangas img{
            width: 60%;
        }
}

/*CONTACT PAGE*/

.banner-contact{
    display: flex;
    justify-content: center;
}
.banner-contact img{
    width: 95%;
    border-radius: 30px;
}

.form-container{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 25px;
}

.contact.main, h1{
    text-align: center;
    margin: 20px;

}

.form-item{
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px;
}
.form-item label{
    margin-bottom: 5px;
    text-transform: uppercase;
    display: flex;
    
}

.form-item input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #ffa769;
    background-color: #ffa769;
    color: #000000;
    text-transform: uppercase;
}
.form-item #box{
    height: 100px;
}

.contact-information{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

}

.contact{
    padding: 10px;
    display: flex;
    align-items: center;
}

@media (min-width: 800px) {
    .banner-contact img{
        width: 70%;
    }
}


@media (min-width: 1200px) {
    .contact-main{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .contact-map{
        width: 300px;
        height: 200px;
    }
    .contact-information{
        align-items: flex-start;
    }
    .banner-contact img{
        width: 60%;
    }
}

/*LOGIN PAGE*/

.form-login{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-login-item{
    display: flex;
    margin: 25px;
    justify-items: center;
}
.form-login-item input{
    border-radius: 30px;
    border: 2px solid #ff9f5c;
    background-color: #ff9f5c;
}
.form-login-item label{
    margin: 0px;
}
.submit-login{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.submit-login input{
    height: 30px;
    width: 30%;
    background-color: #ff9f5c;
    border-radius: 30px;
    border: 2px solid #ff9f5c;
}
.banner-login{
    display: flex;
    justify-content: center;
}
.banner-login img{
    width: 95%;
    border-radius: 30px;
}

@media (min-width: 800px) {
    .banner-login img{
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .form-login-item input{
        margin-left: 10px;
    }
    .banner-login img{
        width: 60%;
    }
}


/*REGISTER PAGE*/
.form-register{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-register-item{
    display: flex;
    margin: 25px;
    justify-items: center;
}
.form-register-item input{
    border-radius: 30px;
    border: 2px solid #ff9f5c;
    background-color: #ff9f5c;
}
.form-register-item label{
    margin: 0px;
}
.submit-register{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.submit-register input{
    height: 30px;
    width: 30%;
    background-color: #ff9f5c;
    border-radius: 30px;
    border: 2px solid #ff9f5c;
}
.banner-register{
    display: flex;
    justify-content: center;
}
.banner-register img{
    width: 95%;
    border-radius: 30px;
}

@media (min-width: 800px) {
    .banner-register img{
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .form-register-item input{
        margin-left: 10px;
    }
    .banner-register img{
        width: 60%;
    }
}